# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnp.*.json

# Env
.env
.env.local
.env.*.local

# Build outputs
dist
build
coverage

# Editor
.DS_Store
Thumbs.db
*.swp
*.swo
*.log
.idea
.vscode

# Prisma
backend/prisma/*.db

# Frontend
frontend/.turbo
